<?xml version="1.0"?>
<config>
    <global>
        <install>
            <date><![CDATA[Thu, 30 Jan 2014 00:24:35 +0000]]></date>
        </install>
        <crypt>
            <key><![CDATA[{{ APP_KEY }}]]></key>
        </crypt>
        <disable_local_modules><![CDATA[false]]></disable_local_modules>
        <resources>
            <db>
                <table_prefix><![CDATA[]]></table_prefix>
            </db>
            <default_setup>
                <connection>
                    <host><![CDATA[{{ DB_HOSTNAME }}]]></host>
                    <username><![CDATA[{{ DB_USERNAME }}]]></username>
                    <password><![CDATA[{{ DB_PASSWORD }}]]></password>
                    <dbname><![CDATA[{{ DB_NAME }}]]></dbname>
                    <initStatements><![CDATA[SET NAMES utf8]]></initStatements>
                    <model><![CDATA[mysql4]]></model>
                    <type><![CDATA[pdo_mysql]]></type>
                    <pdoType><![CDATA[]]></pdoType>
                    <active><![CDATA[1]]></active>
                </connection>
            </default_setup>
        </resources>
        <session_save><![CDATA[{{ SESSION_SAVE }}]]></session_save>
        <composer_vendor_path><![CDATA[{{ COMPOSER_VENDOR_PATH }}]]></composer_vendor_path>

        {% if PSR0_NAMESPACES %}
        <psr0_namespaces>
        {% for PSR0_NAMESPACE in PSR0_NAMESPACES %}
            <{{ PSR0_NAMESPACE }}/>
        {% endfor %}
        </psr0_namespaces>
        {% endif %}
        {% if REDIS_ENDPOINT != '' %}

        <redis_session>
            <host><![CDATA[{{ REDIS_ENDPOINT }}]]></host>
            <port><![CDATA[6379]]></port>
            <password><![CDATA[]]></password>
            <timeout><![CDATA[2.5]]></timeout>
            <persistent><![CDATA[]]></persistent>
            <db><![CDATA[2]]></db>
            <compression_threshold><![CDATA[2048]]></compression_threshold>
            <compression_lib><![CDATA[gzip]]></compression_lib>
            <log_level><![CDATA[1]]></log_level>
            <max_concurrency><![CDATA[6]]></max_concurrency>
            <break_after_frontend><![CDATA[5]]></break_after_frontend>
            <break_after_adminhtml><![CDATA[30]]></break_after_adminhtml>
            <first_lifetime><![CDATA[600]]></first_lifetime>
            <bot_first_lifetime><![CDATA[60]]></bot_first_lifetime>
            <bot_lifetime><![CDATA[7200]]></bot_lifetime>
            <disable_locking><![CDATA[0]]></disable_locking>
            <min_lifetime><![CDATA[60]]></min_lifetime>
            <max_lifetime><![CDATA[2592000]]></max_lifetime>
        </redis_session>
        <cache>
            <backend><![CDATA[Cm_Cache_Backend_Redis]]></backend>
            <backend_options>
                <server><![CDATA[{{ REDIS_ENDPOINT }}]]></server>
                <port><![CDATA[6379]]></port>
                <persistent><![CDATA[magento-cache]]></persistent>
                <database><![CDATA[0]]></database>
                <password><![CDATA[]]></password>
                <force_standalone><![CDATA[0]]></force_standalone>
                <connect_retries><![CDATA[1]]></connect_retries>
                <read_timeout><![CDATA[10]]></read_timeout>
                <automatic_cleaning_factor><![CDATA[0]]></automatic_cleaning_factor>
                <compress_data><![CDATA[1]]></compress_data>
                <compress_tags><![CDATA[1]]></compress_tags>
                <compress_threshold><![CDATA[20480]]></compress_threshold>
                <compression_lib><![CDATA[gzip]]></compression_lib>
                <use_lua><![CDATA[0]]></use_lua>
            </backend_options>
        </cache>
        {% endif %}
        {% if ENABLE_FPC %}
        <full_page_cache>
            <backend><![CDATA[Cm_Cache_Backend_Redis]]></backend>
            <backend_options>
                <server><![CDATA[{{ REDIS_ENDPOINT }}]]></server>
                <port><![CDATA[6379]]></port>
                <persistent></persistent>
                <database><![CDATA[1]]></database>
                <password></password>
                <force_standalone><![CDATA[0]]></force_standalone>
                <connect_retries><![CDATA[1]]></connect_retries>
                <lifetimelimit><![CDATA[57600]]></lifetimelimit>
                <compress_data><![CDATA[0]]></compress_data>
            </backend_options>
        </full_page_cache>
        {% endif %}
        <remote_addr_headers>
            <header1><![CDATA[HTTP_X_REAL_IP]]></header1>
            <header2><![CDATA[HTTP_X_FORWARDED_FOR]]></header2>
        </remote_addr_headers>
        {% if DISABLE_MODULES_AUTO_UPDATES %}
        <skip_process_modules_updates>1</skip_process_modules_updates>
        {% endif %}
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <frontName><![CDATA[{{ ADMIN_FRONTNAME }}]]></frontName>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
